configuration {
  modi: "drun,run,window";
  show-icons: true;
  display-drun: "Applications";
  display-run: "Command";
  display-window: "Windows";
  drun-display-format: "{name}";
  icon-theme: "Papirus-Dark";
  font: "JetBrainsMono Nerd Font 12";
  terminal: "kitty";
  matching: "fuzzy";
  sorting-method: "fzf";
  sort: true;
}
